<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if data %}
    <h2>Тексты</h2>
    <ul>
        {% for el in data %}
            <li>{{el.text}}</li>
        {% endfor %}
    </ul>
    {% else %}
    <h1>Добавь данные в БД</h1>
    {% endif %}
</body>
</html>